.tl_exportmembers {
    border-top: 1px solid #e6e6e8;
}

.tl_exportmembers h2.sub_headline {
    margin: 18px 15px 3px;
}

.tl_exportmembers .tl_submit_container {
    background: 0 0;
    padding: 0 15px 24px;
    border: 0;
}